footer {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cccccc;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: center;
  position: relative;

}
